

.brand-name {
  text-align: center;
  background-color: rgb(74, 125, 165);
  height: 40px;
  line-height: 40px;
  color: white;
  vertical-align: middle;
}

.nav-design {
  background-color: rgb(80, 140, 184);
  a {
    color: white;
  }
}

.nav-link {
  &:hover {
    background-color: rgb(32, 40, 44);
    color: white;
  }
}

.user-profile img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}

.angular-notifications-container {
  position: relative;
  display: table-cell;
  width: 100%;
}

.angular-notifications-icon.overlay {
  position: absolute;
  z-index: 1;
}

.angular-notifications-icon {
  right: -5px;
  top: -4px;
  border-radius: 25%;
  padding-top: -2px;
  min-width: 12px;
  height: 12px;
  line-height: 12px;
  color: white;
  user-select: none;
  cursor: default;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
}

.bg-mail-notification {
  background-color: rgb(73, 164, 98);
}

.bg-bell-notification {
  background-color: rgb(230, 160, 60);
}

.bg-flag-notification {
  background-color: rgb(205, 85, 66);
}



