<navbar></navbar>
<sidebar></sidebar>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 bg-dashboard">
  <div id="page-wrapper">
    <div class="row space-between">
      <!--<div>-->
      <!--<h1 class="page-header">Dashboard</h1>-->
      <!--</div>-->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb float-left">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>
      <!-- /.col-lg-12-->
    </div>
    <dashboard-card *ngFor="let card of cards" [title]="card.title" [content]="card.content" [icon]="card.icon"
                    [bg]="card.bg">
    </dashboard-card>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <food-menu></food-menu>
        </div>
        <div class="col-sm">
          <customer-feed></customer-feed>
        </div>
        <div class="col-sm">
          <recent-act></recent-act>
        </div>
      </div>
    </div>
  </div>
</main>

