.food-menu-content {
  .food-menu-title {
    font-weight: bold;
  }
  .food-image {
    width: 20%;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .food-price {
    color: red;
    float: right;
    width: 20%;
  }
  .food-name {
    width: 80%;
    color: gray;
    padding-left: 20px;
    border-left: solid 1px gray;
  }
  .btn-food-more {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(161, 202, 92);
    text-transform: uppercase;
  }

}



