
<div class="food-menu-content">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center food-menu-title">Hot Food Menu</li>
    <li class="list-group-item d-flex  " *ngFor="let foodItem of foodItems">
      <span class="food-image"><img [src] = "foodItem.image"/></span>
      <span class="food-name">{{ foodItem.name }}</span>
      <span class="food-price">${{ foodItem.price }}</span>
    </li>
    <li class="d-flex justify-content-between align-items-center"><button class="btn-food-more">Load more</button></li>
  </ul>
</div>
