//.my-card {
//  width: 22%;
//  display: inline-block;
//  border: 1px solid rgba(0, 0, 0, .125);
//  margin: 1%;
//
//
//  &:not(:first-child) {
//    margin-left: 1%;
//  }


//}

.my-card {
  width: 22%;
  display: inline-block;
  margin: 1%;
  height: 8em;
  position: relative;
  .my-card-content {
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .my-card-icon {
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    font-size: 35px;
    color: #fff;
  }
}

.my-card::before,
.my-card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-style: solid;
}

.my-card::before {
  border-width: 0.7em;
  border-right-color: white;
  border-top-color: white;
}

.my-card::after {
  border-right-color: white;
  border-top-color: white;
}

.bg-project {
  border: solid 1px rgb(87, 89, 130);
  background-color: rgb(87, 89, 130);
}

.bg-leave {
  border: solid 1px rgb(124, 44, 160);
  background-color: rgb(124, 44, 160);
}

.bg-seniority {
  border: solid 1px rgb(218, 50, 37);
  background-color: rgb(218, 50, 37);
}

.bg-point {
  border: solid 1px rgb(245, 206, 40);
  background-color: rgb(245, 206, 40);
}
