<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar sidebar-design">
      <div class="sidebar-sticky">
        <div class="profile clearfix">
          <div class="profile_pic">
            <img src="../../../images/user.png" alt="" class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Vu Dao</span>
            <h2>Online</h2>
          </div>
        </div>
        <div class="row">
          <div class="input-group m-2">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="search..."
                   id="example-search-input">
            <span class="input-group-append">
              <fa-icon [icon]="faSearch" class="input-group-text bg-white"></fa-icon>
            </span>
          </div>
        </div>
        <div>MAIN NAVIGATION</div>
        <ul class="nav flex-column">
          <li class="nav-item p-2" *ngFor="let sidebarItem of sidebarItems">
            <a class="nav-link active" href="#">
              <fa-icon [icon]="sidebarItem.icon"></fa-icon>
              {{ sidebarItem.title }}
              <fa-icon [icon]="faChevronLeft" class="arrow"></fa-icon>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
