@import '~node_modules/bootstrap/scss/bootstrap';

.space-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.btn-blue-bg {
  background-color: rgb(73, 148, 236);
  color: white;
  width: 150px;
  height: 50px;
}

